# You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

1. Design the database schema for the employee management system. 

2. Write Python code to connect to the database and retrieve a list of employees in a specific department

3. Implement a feature to update an employee'sÂ salary

In [1]:
import mysql.connector
conn= mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Yechu@ygadmy5",
    database="Employee")
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B552E0BD90>

In [2]:
cursor =conn.cursor()

In [3]:
cursor

In [4]:
cursor.execute("CREATE TABLE Employees(Name VARCHAR(255) NOT NULL,Salary INT NOT NULL,Hire_Date DATE NOT NULL,Department varchar(50))")

In [7]:
cursor.execute('INSERT INTO Employees (Name,Salary,Hire_Date,Department) VALUES ("Yechu",2500,"2000-10-30","HR")')
conn.commit()

In [8]:
import mysql.connector
try:
    db = {
        "host": "localhost",
        "user": "root",
        "password": "Yechu@ygadmy5",
        "database": "Employee"
    }
    conn = mysql.connector.connect(**db)
    cursor = conn.cursor()
    target_department = "HR"
    query = "SELECT name, salary, hire_date FROM Employees WHERE department = %s"
    cursor.execute(query, (target_department,))
    employees = cursor.fetchall()
    for employee in employees:
        name, salary, hire_date = employee
        print(f"Name: {name}, Salary: {salary}, Hire Date: {hire_date}")
except mysql.connector.Error as err:
    print(f"Error: {err}")
except Exception as e:
    print(f"An error occurred: {e}")

Name: Yechu, Salary: 2500, Hire Date: 2000-10-30

In [10]:
employee_name = "John Cena"
new_salary = 10000.00
update_query = "UPDATE Employees SET salary = %s WHERE name = %s"
cursor.execute(update_query, (new_salary, employee_name))
conn.commit()
print(f"{employee_name}'s salary updated to {new_salary:.2f}")

John Cena's salary updated to 10000.00