# 1. Implement Inventory Management in Python with MySQL a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time. b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [1]:
import mysql.connector


connection = mysql.connector.connect(
                            user='root',
                            password='Yechu@ygadmy5',
                            host='127.0.0.1',
                            database='Inventory_Management')
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001BBBBFABB10>

In [64]:
cursor = connection.cursor()

In [65]:
cursor

In [57]:
cursor.execute("CREATE TABLE IF NOT EXISTS Purchases (id INT AUTO_INCREMENT PRIMARY KEY, product_name VARCHAR(255), quantity INT)")
cursor.execute("CREATE TABLE IF NOT EXISTS Sales (id INT AUTO_INCREMENT PRIMARY KEY, product_name VARCHAR(255), quantity INT)")
cursor.execute("CREATE TABLE IF NOT EXISTS Inventory (id INT AUTO_INCREMENT PRIMARY KEY, product_name VARCHAR(255), quantity INT)")

def add_purchase(product_name, quantity):
    cursor.execute("INSERT INTO Purchases (product_name, quantity) VALUES (%s, %s)", (product_name, quantity))
    connection.commit()
    

def add_sale(product_name, quantity):
    cursor.execute("INSERT INTO Sales (product_name, quantity) VALUES (%s, %s)", (product_name, quantity))
    connection.commit()
    
def update_inventory(product_name):
    cursor.execute("SELECT SUM(quantity) FROM Purchases WHERE product_name = %s", (product_name,))
    purchase_total = cursor.fetchone()[0]

    cursor.execute("SELECT SUM(quantity) FROM Sales WHERE product_name = %s", (product_name,))
    sales_total = cursor.fetchone()[0]

    inventory = purchase_total - sales_total

    cursor.execute("INSERT INTO Inventory (product_name, quantity) VALUES (%s, %s)", (product_name, inventory))
    connection.commit()
    
add_purchase("Product A", 10)
add_purchase("Product B", 5)

update_inventory("Product A")

cursor.close()
connection.close()

In [66]:
sql="select * from purchases"
cursor.execute(sql)
for i in cursor:
    print(i)

(1, 'Product A', 10)
(2, 'Product B', 5)
(3, 'Product A', 10)
(4, 'Product B', 5)
(5, 'Product A', 10)
(6, 'Product B', 5)
(7, 'Product A', 10)
(8, 'Product B', 5)
(9, 'Product A', 10)
(10, 'Product B', 5)
(11, 'Product A', 10)
(12, 'Product B', 5)
(13, 'Product A', 10)
(14, 'Product B', 5)
(15, 'Product A', 10)
(16, 'Product B', 5)
(17, 'Product A', 10)
(18, 'Product B', 5)
(19, 'Product A', 10)
(20, 'Product B', 5)