# Manipulate using a list.

1.To add new elements to the end of the list

2.To reverse elements in the list

3.To display the same list of elements multiple times.

4.To concatenate two list

5.To sort the elements in the list in ascending order

In [1]:
lst=[7,18,20]
lst.append(28)
lst

[7, 18, 20, 28]

In [2]:
lst=[7,18,20]
lst.reverse()
print(lst)

[20, 18, 7]

In [3]:
lst=[7,18,20]
result=lst*15
print(result)

[7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20, 7, 18, 20]

In [4]:
lst1=[1,2,3]
lst2=[4,5,6]
concatenated_lst=lst1+lst2
print(concatenated_lst)

[1, 2, 3, 4, 5, 6]

In [5]:
lst=[18,19,20]
lst.sort()
print(lst)

[18, 19, 20]

# Write a Python program to do in the tuples.

1.Manipulate using tuples.

2.To add new elements to the end of the tuples.

3.To reverse elements in the list.

4.To display the elements of the same tuple multiple times.

5.To concatenate two tuples.

6.To sort the elements in the list in ascending order.

In [7]:
my_tuple = (1, 2, 3, 4)

# Add new elements to the end of the tuple
new_element = 5
my_tuple += (new_element,)

# ii) Reverse elements in the tuple
reversed_tuple = tuple(reversed(my_tuple))

# iii) Display elements of the tuple multiple times
repeat_times = 3
repeated_tuple = my_tuple * repeat_times

# iv) Concatenate two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

# v) Sort the elements in the tuple in ascending order
sorted_tuple = tuple(sorted(my_tuple))

# Display the results
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)
print("Repeated Tuple:", repeated_tuple)
print("Concatenated Tuple:", concatenated_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)
Repeated Tuple: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)
Sorted Tuple: (1, 2, 3, 4, 5)

#  Write a python program to implement the following using list.

1.Create a list with integers (minimum 10 numbers)

2. How to display the last number in the list.

3.Command for displaying the values from the list [0:4]

4.Command for displaying the values from the list [2:]

5.Command for displaying the values from the list [:6]

In [8]:
# Create a list with integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Display the last number in the list
print(numbers[-1])

# Command for displaying the values from the list [0:4]
print(numbers[0:4])

# Command for displaying the values from the list [2:]
print(numbers[2:])

# Command for displaying the values from the list [:6]
print(numbers[:6])

10
[1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]

# Write a Python program: tuple1 = (10,50,20,40,30)

1.To display the elements 10 and 50 from tuple1

2.To display the length of a tuple1.

3.To find the minimum element from tuple1

4. To add all elements in the tuple1.

5.To display the same tuple1 multiple times

In [9]:
tuple1 = (10,50,20,40,30)

# To display the elements 10 and 50 from tuple1
print(tuple1[0], tuple1[1])

# To display the length of a tuple1
print(len(tuple1))

# To find the minimum element from tuple1
print(min(tuple1))

# To add all elements in the tuple1
print(sum(tuple1))

# To display the same tuple1 multiple times
print(tuple1 * 3)

10 50
5
10
150
(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# Write a Python program:

1.To calculate the length of a string

2.To reverse words in a string

3.To display the same string multiple times

4.To concatenate two strings

5.Str1=" South India", using string slicing to display "India"

In [17]:
#To calculate the length of a string
str1="South India"
print(len(str1))

#To reverse words in a string

reversed_string = str1[::-1]
print(reversed_string)

#To display the same string multiple times
print(str1*5)

#To concatenate two strings
str2=" North"
Total=str1+str2
print(Total)

#Str1=" South India", using string slicing to display "India"
slice=str1[6:]
print(slice)

11
aidnI htuoS
South IndiaSouth IndiaSouth IndiaSouth IndiaSouth India
South India North
India

# Perform the following:

1.Creating the Dictionary.

2.Accessing values and keys in the Dictionary.

3.Updating the dictionary using a function.

4.Clear and delete the dictionary values.

In [27]:
# Creating a dictionary
my_dict = {
    "name": "Yechu",
    "age": 22,
    "city": "Salem"
}

# Accessing both keys and values
for key, value in my_dict.items():
    print("Key:", key)
    print("Value:", value)
    
#Updating the dictionary using a function.      
def update_dictionary(my_dict, key, value):
    my_dict[key] = value

update_dictionary(my_dict,"city", "chennai")
update_dictionary(my_dict,"occupation", "Software Engineer")

print(my_dict)

#Clear and delete the dictionary values.

my_dict.clear()
print(my_dict)

#del my_dict
#print(my_dict)

Key: name
Value: Yechu
Key: age
Value: 22
Key: city
Value: Salem
{'name': 'Yechu', 'age': 22, 'city': 'chennai', 'occupation': 'Software Engineer'}
{}

# Python program to insert a number to any position in a list

In [28]:
nums = [25,55,14,17,18,15,85,96,32,200,150]
nums.insert(3, 1000)
print(nums)

[25, 55, 14, 1000, 17, 18, 15, 85, 96, 32, 200, 150]

# Pyton program to delete an element from a list by index

In [29]:
print(nums)
nums.pop(4)
print(nums)

[25, 55, 14, 1000, 17, 18, 15, 85, 96, 32, 200, 150]
[25, 55, 14, 1000, 18, 15, 85, 96, 32, 200, 150]

# Write a program to display the numbers from 1 to 100

In [31]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# write a python program to find the sum of all items in a tuple

In [33]:
values = (25,5,89,6,3,5,4,7,44,52,10,11)
print(sum(values))

261

# create a dictionary containing three lambda functions square, cube and square root

In [34]:
import math

functions_dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Square Root': lambda x: math.sqrt(x)
}

# Get user input
user_input = int(input("Enter a number: "))

result = 0

for function_name, function in functions_dict.items():
    output = function(user_input)
    print(f'{function_name} of {user_input} is {output}')
    result += output

# Print the sum of the outputs
print(f'Sum of all outputs: {result}')

Enter a number: 25
Square of 25.0 is 625.0
Cube of 25.0 is 15625.0
Square Root of 25.0 is 5.0
Sum of all outputs: 16255.0

# A list of words is given. Find the words from the list that have their second character in uppercase

In [35]:
# Find the words from the list that have their second character in uppercase

ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)
print(res)

['hOw', 'ARe']

# A dictionary of names and their weighs on earth is given. Find how much they will weigh on the moon.(Use map and lambda functions) Formula: wMoon (wEarth* GMoon) / GEarth


1.#Weight of people in kg

•WeightOnEarth ('John':45, Shelly':65, 'Marry:35) 

2.#Gravitational force on the Moon: 1.622 m/s2

•GMoon 1.622

3.# Gravitational force on the Earth: 9.81 m/s2

•GEarth= 9.81

In [36]:
# Define the dictionary with names and their weights on Earth
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Constants
GMoon = 1.622
GEarth = 9.81

# Use map and lambda to calculate the weight on the Moon for each person
WeightOnMoon = map(lambda weight: weight * GMoon / GEarth, WeightOnEarth.values())

# Create a dictionary with names and their weights on the Moon
WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

print("Weight of people on the Moon:")
print(WeightOnMoonDict)

Weight of people on the Moon:
{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

# #control structures

# Write a python program to find the first N Prime numbers

In [37]:
def is_prime(num):
    if num <= 1:
        return False
    elif num <= 3:
        return True
    elif num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

n = int(input("Enter the value of n: "))
prime_numbers = first_n_primes(n)
print(f"The first {n} prime numbers are: {prime_numbers}")

Enter the value of n: 50
The first 50 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229]

# Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [38]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate Gross Salary by adding Basic, HRA, TA, and DA
gross_salary = basic_salary + hra + ta + da

# Calculate Tax (10% of Gross Salary)
tax = 0.10 * gross_salary

# Calculate Net Salary (Gross Salary - Tax)
net_salary = gross_salary - tax

# Display Gross and Net Salary
print(f"Gross Salary: {gross_salary}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 10000
Enter HRA: 5000
Enter TA: 2000
Enter DA: 3000
Gross Salary: 20000.0
Net Salary: 18000.0

# Write a python program to search for a string in the given list.

In [41]:
def search_string_in_list(search_string, my_list):
    found_indices = []
    for i, item in enumerate(my_list):
        if search_string in item:
            found_indices.append(i)
    
    if found_indices:
        print(f"'{search_string}' found in the list at indices: {found_indices}")
    else:
        print(f"'{search_string}' not found in the list.")

# Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [42]:
def count_case_letters(input_string):
    upper_count = 0
    lower_count = 0
    
    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    return upper_count, lower_count
input_str = "Hello World"
upper, lower = count_case_letters(input_str)
print("Uppercase letters:", upper)
print("Lowercase letters:", lower)

Uppercase letters: 2
Lowercase letters: 8

# Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [46]:
sum_odd = 0
sum_even = 0

for num in range(12, 38):
    if num % 2 == 0:
        sum_even += num
    else:
        sum_odd += num

print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# Write a python Program to print the table of any number.

In [49]:
num = int(input("Enter a number: "))

print(f"Multiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 2
Multiplication Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# Write a Python program to sum the first 10 prime numbers.

In [50]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
number = 2
prime_sum = 0

while count < 10:
    if is_prime(number):
        prime_sum += number
        count += 1
    number += 1

print("The sum of the first 10 prime numbers is:", prime_sum)

The sum of the first 10 prime numbers is: 129

# Write a python program to implement arithmetic operations using nested if statement.

In [53]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

operation = input("Enter an arithmetic operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter the first number: 2
Enter the second number: 4
Enter an arithmetic operation (+, -, *, /): +
Result: 6.0

# Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [54]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 37
37.0 degrees Celsius is equal to 98.6 degrees Fahrenheit

# Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [56]:
def find_max_min(numbers):
    # Check if the list is empty
    if not numbers:
        return None, None

    maximum = minimum = numbers[0]
    for number in numbers:
        if number > maximum:
            maximum = number
        if number < minimum:
            minimum = number

    return maximum, minimum

# Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [57]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"There are {seconds_in_30_days} seconds in a 30-day month.")

There are 2592000 seconds in a 30-day month.

# Write a program in python to print out the number of seconds in a year.

In [58]:
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

print(f"The number of seconds in a year (assuming 365 days) is: {total_seconds} seconds")

The number of seconds in a year (assuming 365 days) is: 31536000 seconds

# A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [59]:
distance = 414
speed = 150
time_hours = distance / speed

hours = int(time_hours)
minutes = (time_hours - hours) * 60

print(f"It will take approximately {hours} hours and {minutes:.2f} minutes to travel from London to Glasgow.")

It will take approximately 2 hours and 45.60 minutes to travel from London to Glasgow.

# Write a python program that defines a variable called days in each school year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [60]:
days_in_each_school_year = 192

# Years 7 to 11
years = range(7, 12)

# Calculate the total hours spent in school
total_hours = sum(year * days_in_each_school_year * 6 for year in years)

print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

Total hours spent in school from year 7 to year 11: 51840 hours

#  If the age of Ram,Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.

In [61]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Determine the eldest and youngest
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
    if sam_age <= khan_age:
        youngest = "Sam"
    else:
        youngest = "Khan"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
    if ram_age <= khan_age:
        youngest = "Ram"
    else:
        youngest = "Khan"
else:
    eldest = "Khan"
    if ram_age <= sam_age:
        youngest = "Ram"
    else:
        youngest = "Sam"

# Print the results
print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter Ram's age: 20
Enter Sam's age: 30
Enter Khan's age: 18
The eldest among Ram, Sam, and Khan is: Sam
The youngest among Ram, Sam, and Khan is: Khan

# Write a python program to rotate a list by right in times with and without slicing technique.

In [62]:
def rotate_list_using_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list
    
    n %= len(input_list)  # Ensure n is within the length of the list
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list

# Input list
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

rotated_list = rotate_list_using_slicing(my_list, n)
print("Rotated list using slicing technique:", rotated_list)

def rotate_list_without_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list
    
    n %= len(input_list)  # Ensure n is within the length of the list
    for _ in range(n):
        temp = input_list.pop()
        input_list.insert(0, temp)
    return input_list

# Input list
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

rotated_list = rotate_list_without_slicing(my_list, n)
print("Rotated list without slicing technique:", rotated_list)

Enter the number of times to rotate to the right: 2
Rotated list using slicing technique: [4, 5, 1, 2, 3]
Enter the number of times to rotate to the right: 1
Rotated list without slicing technique: [5, 1, 2, 3, 4]

# Python program to print the patterns given below

In [64]:
n = int(input("Enter the number of rows: "))

def binomial_coefficient(n, k):
    if k == 0 or k == n:
        return 1
    return binomial_coefficient(n - 1, k - 1) + binomial_coefficient(n - 1, k)

for i in range(n):
    for j in range(i + 1):
        print(binomial_coefficient(i, j), end=" ")
    print()

Enter the number of rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# Pattern program 
*
* *
* * *
* * * *
* * * * *

In [66]:
get_ipython().run_line_magic('pinfo', 'program')

n = 5  # Number of rows

for i in range(n):
    # Inner loop for columns
    for j in range(i + 1):
        print("*", end=" ")
    print()  # Move to the next line after each row


3 # Input the number of rows for the pattern
n = int(input("Enter the number of rows: "))

# Loop to print the pattern
for i in range(1, n + 1):
    print(" " * (n - i), end="")  # Print spaces before asterisks
    print("* " * i)  # Print asterisks with a space in between


# In[25]:


word = "Python"
for i in range(len(word) + 1):
    print(word[:i])
print("Python program")

Object `program` not found.
*
* *
* * *
* * * *
* * * * *
Enter the number of rows: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

P
Py
Pyt
Pyth
Pytho
Python
Python program